<!DOCTYPE html>
<html>
	<head>
		<title>Icescape Admin</title>
	</head>

	<body>
		<h1 style="	text-align: center;font-size: 70px;background-color: skyblue;color: white;">ADMIN</h1>

		<h2>Date: 11/11/2020</h2>
		
		<h2>Users that signed up</h2>
		<ul>
		{% for i in users %}
			<li>Name: {{i.name}}; surname: {{i.surname}}; nationality: {{i.nationality}}; email: {{i.email}}</li>
		{% endfor %}
		</ul>
		
		<form  action="/admin" method="POST">
			<input type="submit" value="Mix&Match">
		</form>

		<h2>TEAM</h2>
		<ul>
		{% for user in team %}
			<li>{{user.name}}</li>
		{% endfor %}
		</ul>
	</body>

</html>